.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
}

h1 {
  color: #333;
}

.image-container {
  margin-bottom: 20px;
}

.couple-image {
  width: 200px;
  height: 200px;
  background-image: url(pasangan.png);
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes slidein {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

form {
  margin-top: 20px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}

.undangan-link {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.undangan-link:hover {
  background-color: #555;
}
